/* Breakpoints: From xs to sm, from sm to md, from md to lg, after that simple desktop */
$breakpoints: (
    xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1280px
);

/* Colors */
$clr-gray: #f6f6f6;
$clr-dark-gray: rgba(43, 39, 37, .5);

/* Defaults */
$font-family: 'Museo', sans-serif;
$font-size: 16px;
$body-color: #000;

/* Grid */
$header-h: 64px;
$footer-h: 130px;
$sidebar-w: 256px;

/* Spacing */
$mobile-padding: 16px;
